.selernav{
    padding-top: 5%;
    padding-left: 4%;
}
.ListProfile{
    padding-top: 7%;
}
.listItemSeller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 35vh;
    background-color: #edebeb;
    
}
/* .carproductuselled{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    width: 100px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.deletebuttonseller{
    padding-left: 180px;
    
}
.imagecontentseller{
    margin-top: 1px;
    padding-left: 25px;
    width: 150px;
    height: 100px;
}